In [1]:
import pandas as pd
import json

In [19]:
files = [
    'data/day1.csv',
    'data/day2.csv',
    'data/day3.csv'
]

def sec2hour(sec):
    hour = int(sec / 3600)
    minite = int(sec / 60)  - hour * 60
    second = sec - hour * 3600 - minite*60
    print(str(hour) + ':' + str(minite) + ':' + str(second) )

In [23]:
df_day1 = pd.read_csv(files[0])
df_day2 = pd.read_csv(files[1])
df_day3 = pd.read_csv(files[2])

## 抽取某个人进行查看

In [42]:
df_day1[ df_day1['id'] == 11396]

           id    sid   time
0       11396  11502  25240
1       11396  11402  25249
2       11396  11403  25256
3       11396  11404  25263
4       11396  11405  25270
5       11396  11306  25277
6       11396  11307  25284
7       11396  11308  25291
8       11396  11309  25298
9       11396  11310  25305
10      11396  11411  25312
11      11396  11410  25319
13      11396  21411  25328
17      11396  21410  25344
19      11396  21310  25351
21      11396  21209  25358
23      11396  21109  25365
25      11396  21009  25372
27      11396  20909  25379
30      11396  20809  25386
33      11396  20709  25393
36      11396  20710  25400
39      11396  20610  25407
838     11396  20710  27049
866     11396  20709  27056
901     11396  20809  27064
930     11396  20909  27072
964     11396  21009  27080
997     11396  21109  27088
1033    11396  21209  27096
...       ...    ...    ...
407780  11396  10618  45817
407928  11396  10518  45824
408083  11396  10418  45831
408220  11396  10318  45838
408390  11396  10218  45846
408539  11396  10219  45853
408706  11396  10119  45860
680185  11396  10118  62809
680476  11396  10117  62816
680750  11396  10116  62823
681018  11396  10115  62830
681296  11396  10114  62838
681557  11396  10113  62845
681829  11396  10112  62853
682056  11396  10111  62860
682268  11396  10211  62867
682510  11396  10311  62875
682746  11396  10310  62882
682938  11396  10409  62889
683195  11396  10509  62898
683519  11396  10609  62909
683764  11396  10709  62918
684065  11396  10808  62929
684296  11396  10908  62938
684513  11396  11007  62947
684723  11396  11106  62956
684911  11396  11206  62965
685079  11396  11305  62973
685240  11396  11405  62980
685394  11396  11505  62988

[224 rows x 3 columns]

## 三天会议的时间分布

In [22]:
sec2hour(df_day1.time.min())
sec2hour(df_day1.time.max())
sec2hour(df_day2.time.min())
sec2hour(df_day2.time.max())
sec2hour(df_day3.time.min())
sec2hour(df_day3.time.max())

7:0:40
18:0:58
7:30:50
20:1:31
7:31:10
12:32:44

## 连续参会的人数

In [32]:
df_id1 = df_day1['id'].unique()
print(len(df_id1))
df_id2 = df_day2['id'].unique()
print(len(df_id2))
df_id3 = df_day3['id'].unique()
print(len(df_id3))

3564
4434
2930

In [39]:
merge_id_12  = [val for val in df_id1 if val in df_id2]
print(len(merge_id_12))
merge_id_23  = [val for val in df_id2 if val in df_id3]
print(len(merge_id_23))
merge_id_13  = [val for val in df_id1 if val in df_id3]
print(len(merge_id_13))
merge_id_123  = [val for val in df_id1 if val in df_id2 if val in df_id3]
print(len(merge_id_123))

2959
2552
2074
1913